body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9WmuXVIarvH1JknSEt71k2xV7jhrLISU0bw&s) no-repeat;
  background-size: cover;
  height : 100vh;
  /* border: 1px solid black; */
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}
.weather-box{
  border: 3px solid white;
  padding: 30px;
  border-radius: 30px;
  background-color: #ffffff9c ;
}
.weather-button{
  margin-top: 30px;
  display: flex;
  gap :8px;
}